.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container img{
  width: auto;
  height: 500px;
}
.back-link {
  color: white;
  text-decoration: none;
}

.back-link:hover {
  text-decoration: underline;
}

button {
  width: 100px;
  height: 40px;
  border: none;
  background: #000000;
  border-radius: 10px;  
}

button:hover {
  width: 100px;
  height: 40px;
  border: none;
  background: #313131;
  border-radius: 10px;
}